.anime_ewm {width: 163px;height:200px;position: fixed;right: 156px; bottom: 225px;z-index: 100; clear: both;}
.ELMT2ua56f34zwxugyJ5h6ZY210713 .vspace_jj {height:30px;}
.ELMTz3glNHwbNQKLwc6njzAr210713 .vspace_jj {height:113px;}
.vspace_jj {
	height:10px;
	font-size:0px;
	line-height:0px;
	width:99%;
	clear:both;
}
.ELMTgIIWJcASSu8loscq1fLJ210713 .vspace_jj {height:30px;}
.djzb19626_ind02 .right .con ul li .xmmc {display: inline-block !important;}